@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    --primary-color: #6E00FF;
    --secondary-color: #FF00FF;
    --c2: #6700EE;
    --c3: #00F7FF;
    --c4: #FF64CB;
    --c5: #E5D5FA;
    --c6: #3B3B3B;

}

body {
    margin: 0;
    padding: 0;
}

* {
    // margin: 0;
    // padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.nav-container {
    background-color: var(--c2);

    a {
        color: #fff;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;

    .logo {
        color: var(--c3);
        font-weight: bold;
        // font-size: 1.5em;
    }

    nav {
        ul {
            display: flex;
            justify-content: space-between;

            a {
                display: block;
                padding: 0 1em;
            }
        }
    }
}

ul > li > a > img {
    width: 30px;
}

.social-header,
.hero-design {
    display: none;
}


// Hero Section

.hero {
    background-color: var(--primary-color);
    color: #fff;
    display: grid;
    text-align: center;
    padding: 4em;
    // min-height: 100vh;
}

.meet {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    min-width: 200px;
    font-weight: bold;
    color: var(--c4);

    p {
        margin: 0;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

// Featured Section
section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;

    img {
        border-radius: 0.5em;
    }
}

.featured::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--c5);
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    letter-spacing: 0.2em;
    font-size: 0.85em;
}

.featured-title {
    color: #000000;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: -0.4em;
    display: block;
}

.featured-desc {
    text-align: left;
    color: var(--c6);
    margin-bottom: 3em;
    line-height: 1.5;
    font-weight: 500;
}

.portfolio-container > a > img {
    border-radius: 0.5em;
    margin-bottom: 2em;
}

// About Section
.about {
    background-color: var(--c4);

    p {
        background-color: white;
        box-shadow: var(--c6) 0 0 0.2em;
        padding: 2em;
        margin: 2em -0.5em;
        margin-bottom: -5em;
        border-radius: 0.2em;
    }
}

.colored {
    color: var(--primary-color);
}

.hire-me a {
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 0.8em 1.6em;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.footer {
    background-color: var(--c2);
    color: #fff;
    width: 100%;
    padding: 1em;

    p {
        margin: 0;
    }
}

.social-footer > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em auto;
    width: 100%;
    max-width: 400px;

    a {
        color: #fff;
    }
}

@media screen and (min-width: 768px) {
    .portfolio,
    .featured {
        text-align: left;
    }

    .featured,
    .portfolio-container {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    .left,
    .portfolio-left {
        display: grid;
        place-items: center;
    }

    .featured-desc {
        margin-bottom: 0;
    }

    .right {
        margin-left: 3em;
    }

    .portfolio-container > a > img {
        margin-left: 3em;
    }

    .about > .content > p {
        text-align: left;
        width: 50%;
        padding: 2em;
        line-height: 1.8;
    }

}


@media screen and (min-width: 1000px) {
    .hero {
        height: 90vh;
    }

    section {
        padding: 4em;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: unset;

        header {
            background-color: var(--c2);
            padding: 2em 2em 2em 4em;
        }

        .social-header {
            display: block;
            padding-right: 4em;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                width: 70%;
                float: right;
            }
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: unset;
        padding: 0;

        .content {
            background-color: var(--primary-color);
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 2.5em;
                font-weight: bold;
                margin-bottom: 1em;
                width: 80%;
            }

            .meet {
                justify-content: flex-start;
                font-size: 1.3em;

                p {
                    margin-left: 0.5em;
                }
            }
        }

        .hero-design {
            display: unset;
            margin-left: -50%;
            margin-top: 25%;
            width: 100%;
        }
    }
}